/*
   Variaveis
*/

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
    --botao-hover: #C78C19;
    --efeito-botao: #78b4fd;
}

/*
    Corpo do Código ----->
*/
body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.conteiner__titulo{
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0 6em;
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em
}

.container__descricao {
    padding: 2em;
}

.noute {
    width: 90%;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    text-align: center;
    list-style: none;
}

.dispsitivos__titulo {
    font-size: 48px;
    font-weight: 700;
    color: var(--branco-principal);
    text-align: center;
}

.lista__item {
    font-size: 32px;
    font-weight: 700;
    color: var(--branco-principal)
}

/*
   <------ Corpo do Código
*/

/*
   Rodapé ----->
*/

.rodape {
    margin: 6em 15em 5em 15em;
    text-align: center;
}

.rodape__logo {
    margin-bottom: 20px;
}

.rodape__texto {
    margin-bottom: 2em;
    color: var(--cinza-secundario);
}

.rodape__lista {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-bottom: 2em;
    
}

.rodape__menu {
    text-decoration: none;
    color: var(--branco-principal);
}

.rodape__menu:hover{
    color: var(--botao-hover);
    text-decoration: underline;
}

.rodape__menu:active{
    color: var(--botao-azul);
}

.container__botao:active {
    background-color: var(--efeito-botao);
    color: var(--cor-de-fundo);
    border: 2px solid var(--botao-azul);
}

/*
   <------ Rodapé
*/

